h1{text-align: center;color: brown;}
.a{width:700px;height: 300px;border: 1px ;}
.b{width:100px;height: 298px;border: 1px ;float:left}
.c{width:596px;height: 298px;border: 1px ;float: left;}
.da{width: 1200px; height:1000px;margin: 0px auto;border:1px solid rgb(17, 15, 15)}
.red{color: red ;}